.tile{
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-family: Helvetica;
}

.gameBoard{
	display: none;
}

.center{
	margin: 0 auto;
}

.login-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 400px;
}

.login-container form, .login-container input{
	width: 75%;
}



#topnav{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#leftnav{
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#rightnav{
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-items{
	width: 40px;
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-items a{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}